.tag {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

.small {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 16.7px;
}

.medium {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}
.large {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.5px;
}

.white {
  color: #ffffff;
}

.grey {
  color: var(--white);
  background: #b3c0d9;
  font-weight: bold;
}
.blue {
  color: #388af3;
}
.green {
  color: var(--green);
  background: var(--green-light);
  font-weight: bold;
}
.tag .active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #388af3;
}
.black {
  color: #000000;
}
.primary {
  color: var(--primary);
  background: none;
  border: 1px solid var(--primary);
}
