.button {
  position: relative;
  box-sizing: border-box;
  width: 227px;
  height: 227px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, rgba(56, 138, 243, 1), rgba(164, 131, 226, 1))
      border-box;
  color: #313149;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  color: #388af3;
  margin-bottom: 179px;
  transition: all 0.5s;
}

.button svg {
  transition: all 1s;
  margin-bottom: 29px;
}
.button div {
  transition: all 1s;
}
.button:hover {
  background: #388af3 !important;
  border: 5px solid #388af3;
  color: #ffffff;
}
.button:hover svg {
  transform: translate(80px, -10px) scale(1.3, 1.3);
}

.button:hover div {
  margin-bottom: 70px;
}
.button:focus svg {
  transition: all 1s ease 0s;
  transform: translate(110px, -30px) scale(0.5, 0.5);
  background-image: #ffffff;
}

@media (max-width: 870px) {
  .button {
    margin-bottom: 100px;
  }
}
